input,
button {
      cursor: pointer;
}
 
button:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0.19);
    background-color: gray;
    color: black;
}

.btn-green {
    background-color: #1ff39e;
    color: black;
}
.btn-green:hover {
    color: #1ff39e;
    background-color: black;
}

.btn-purple {
    background-color: rgb(81, 41, 137);
    color: rgb(215, 213, 218);
}
.btn-purple:hover {
    background-color: black;
    color: rgb(152, 78, 255);
    /*  background-color: rgb(215, 213, 218); */
    /*  color: rgb(29, 29, 29); */
}

.btn-lightpurple {
    background-color: rgb(127, 110, 235);
    color: rgb(215, 213, 218);
}
.btn-lightpurple:hover {
    background-color: rgb(215, 213, 218);
    color: rgb(29, 2, 29);
}

.header h1,
.header-large h1 {
    font-size: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.main-container div {
    height: 100%;
    display: grid;
    grid-template-rows: auto 60%;
}

.main-container .section .header,
.main-container .section .header-large {
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #00000088;
}


.main-container .section .header * {
    padding-top: 20px;
}

.main-container .section .content {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.main-container .section .content button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}


